@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin inline-block($value) {
  display: inline-block;
  vertical-align: $value;
}

@mixin inline-block-top {
  display: inline-block;
  vertical-align: top;
}