.cellMenu {
  float: right;
}

.cellTable {
  float: left;
  margin-top: 15px;
  padding-left: 45%;
}

.leftText {
  text-align: left;
}

.cellTableLast {
  float: left;
  line-height: 56px;
}

.underline {
  text-decoration: underline;
  color: #00BCD4;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: #008796;
  }
}